# 优先使用清华源
#--index-url https://pypi.tuna.tsinghua.edu.cn/simple

# 依赖包列表（无版本号）
absl-py
causal-conv1d
certifi
cffi
chardet
charset-normalizer
cloudpickle
colorama
contourpy
cycler
Cython
easydict
einops
exceptiongroup
filelock
fonttools
fsspec
ftfy
fvcore
grpcio
h5py
huggingface-hub
idna
iniconfig
iopath
Jinja2
joblib
jpeg4py
jsonpatch
jsonpointer
kiwisolver
lmdb
mamba-ssm
Markdown
MarkupSafe
matplotlib
mpmath
networkx
ninja
numpy
opencv-python
packaging
pandas
pillow
pluggy
portalocker
protobuf
pycocotools
pycparser
pyparsing
pytest
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
seaborn
six
submitit
sympy
tabulate
tb-nightly
tensorboard-data-server
tensorboardX
termcolor
threadpoolctl
tikzplotlib
timm
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
visdom
wcwidth
webcolors
websocket-client
Werkzeug
yacs


#pip install \
 # --index-url https://pypi.tuna.tsinghua.edu.cn/simple \
 # --extra-index-url https://pypi.org/simple \
 # -r requirements.txt